*{
  margin: 0;
  padding: 0;
}

.login-form{
  width: 100%;
}

.input-group {
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.forgot-password {
  display: block;
  text-align: right;
  color: #007bff;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.or-divider span {
  padding: 0 10px;
  background-color: white;
  color: #888;
  font-size: 14px;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #ccc;
}



.signup-link p {
  color: #888;
  font-size: 14px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.rightlogin {
  width: 60%;
  height: 100%;
  margin: 0; 
  padding: 0; 
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leftlogin {
  width: 50%;
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  /* margin-top: 10%; */
}

.rightlogin {
  width: 50%;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex: 1;
}


.login-header h1{
  font-size: 25px;
  font-weight: bold;
  /* margin-bottom: 10px; */
}


.login-logo{
  height: 100px;
  width: 150px;
}

.input-group {
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
}


.input-group input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.signup-link p {
  color: #888;
  font-size: 14px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
} 

.signup-link a:hover {
  text-decoration: underline;
}

   .avatar-selection {
    margin-bottom: 20px;
  }
  
  .avatar-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .avatar.selected {
    border-color: #007bff;
  }

  .profile {
    background-color: #282c34;
    width: 230px;

  }

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


.dashboard-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background-color: #eaf0f0; /* Light grey background */
  margin: 0;
  box-sizing: border-box;
}

/* Profile container taking full height and specific width */
.profile-container {
  width: 250px; /* Fixed width */
  background-color: #636D79; /* Grey color */
  color: #fff;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%; /* Full height of the dashboard container */
  box-sizing: border-box;
}

/* Main content taking up the remaining space */
.main-content {
  flex-grow: 1; /* Take up remaining width */
 
  background-color: #F2F2F2;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   /* Add some margin between profile and main content */
  height: 100%; /* Full height of the dashboard container */
  box-sizing: border-box;
  overflow: auto; /* Add scrolling if content exceeds the height */
  position: absolute;
  left: 215px;
  /* Likely a typo, use 'px' instead of 'xp' */
  width: calc(100% - 215px);
  z-index: 2; /* Ensure it stays below any other content with a higher z-index */
}



.dash {
  display: flex;
  gap:60px;
  margin-bottom: 20px;
}

.createjoin:hover {
  background-color: #0056b3;
}

.form-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  gap: 5px;
  
  
}
.form-container input{
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
  
  
}
.form-container button{
  width: 150px;
  border-radius: 15px;
  height: 52px ;
  background-color: #F5F5DC;
  color: black  ;
  font-weight: bold;
  font-size: 15px;
}
.form-container.visible {
  max-height: 200px; 
}

.room-containers {
  margin-top: 20px;
}

.rooms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}




.error {
  color: red;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.dash-logo{
  width: 200px;
  position: relative;
  right: 10px;
  border-radius: 19px;
}

.join-container,.create-container{
  display: flex;
  flex-direction: column;
}
.copy-room-id{
  color: green;
  font-weight: bold;
  font-size: 20px;
  gap: 8px;
  display: flex;
   margin-top: 15px;
  align-items: center;
  justify-content: center;
  
}
.copy-room-id button{
  width: 150px;
  border-radius: 15px;
  height: 52px ;
  background-color: #F5F5DC;
  color: black  ;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
}
.copy-room-id button:hover{
  background-color: greenyellow;
}


.room-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.dashboard-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background-color: #eaf0f0; /* Light grey background */
  margin: 0;
  box-sizing: border-box;
  flex-direction: column;
}

/* Profile container taking full height and specific width */
.profile-container {
  width: 250px; /* Fixed width */
  background-color: #282c34; /* Grey color */
  color: #fff;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%; /* Full height of the dashboard container */
  box-sizing: border-box;
  overflow-x: hidden;
}

.main-content {
  flex-grow: 1; /* Take up remaining width */
  background-color: #F2F2F2;
  padding: 0 30px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 100%; /* Full height of the dashboard container */
  box-sizing: border-box;
  overflow: auto; /* Add scrolling if content exceeds the height */
  position: absolute;
  left: 215px;
  z-index: 2; /* Ensure it stays below any other content with a higher z-index */
}

.dash {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
  flex-direction: row; 
}

.create-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%; /* Full width on smaller screens */
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  max-width: 600px; /* Limit width on larger screens */
  line-height: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 0 0 black;


  transition: ease-out 0.3s;
  outline: none;
}

/* Apply the animation on hover */
.create-btn:hover {
  box-shadow: inset 300px 0 0 0 black;
  cursor: pointer;
  color: yellow;
}
.join-btn{
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border: 3px solid lightblue;
  cursor: pointer;
  /* width: 600px; */ width: 100%;
  max-width: 600px; /* Limit width on larger screens */
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  outline:none;
  z-index: 1;
  transition: ease-out 0.3s;
  position: relative;
}

.join-btn:hover{
  color: white;
  cursor: pointer;
}
.join-btn::before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: lightblue;
}
.join-btn:hover::before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}



.form-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  gap: 5px;
}

.form-container input {
  width: 100%; /* Full width on smaller screens */
  max-width: 300px; /* Limit width on larger screens */
  border-radius: 10px;
  font-size: 20px;
}

.form-container button {
  width: 100%; /* Full width on smaller screens */
  max-width: 150px; /* Limit width on larger screens */
  border-radius: 15px;
  height: 52px;
  background-color: #F5F5DC;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.form-container.visible {
  max-height: 200px; /* Adjust this value based on the content height */
}

.room-containers {
  margin-top: 20px;
}

.rooms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  justify-content: flex-start;
}

.error {
  color: red;
}

.user-avatar,
.user-avatar-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dash-logo {
  width: 200px;
  position: relative;
  right: 10px;
  border-radius: 19px;
}

.profile-content {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  overflow-wrap: break-word;
  word-break: break-word; 
  display: flex;
  flex-direction: column;
}

.join-container, .create-container {
  display: flex;
  flex-direction: column;
}

.copy-room-id {
  color: green;
  font-weight: bold;
  font-size: 20px;
  gap: 8px;
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.copy-room-id button {
  width: 150px;
  border-radius: 15px;
  height: 52px;
  background-color: #F5F5DC;
  color: black;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.copy-room-id button:hover {
  background-color: greenyellow;
}

.room-card {
  position: relative;
  width: 220px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 25px;
}

.room-card:hover {
  transform: scale(1.19); /* Slightly enlarge the card */
  box-shadow: 4px 20px 16px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
  z-index: 1; /* Elevate the card above others */
  margin: 1px;
}

.room-info {
  /* position: absolute;
  bottom: 10px;
  left: 10px; */
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.room-card:hover .room-info {
  font-weight: bold; /* Bold on hover */
  transition: font-weight 0.3s ease; /* Smooth transition */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .profile-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
  }

  .main-content {
    position: relative;
    left: 0;
    margin-top: 20px;
    border-radius: 20px;
    width: 100%; /* Ensure it takes up full width */
    min-width: 300px; /* Minimum width to prevent it from shrinking too much */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .dash {
    flex-direction: column;
    gap: 20px;
  }

  .create-btn, .join-btn {
    width: 100%;
  }

  .rooms-list {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .profile-content {
    font-size: 16px;
  }

  .create-btn, .join-btn {
    height: 80px;
    font-size: 24px;
  }

  .room-card {
    width: 180px;
    height: 240px;
    font-size: 20px;
  }

  .copy-room-id button {
    width: 100px;
    font-size: 14px;
  }

}

.room-search-container{
  display: flex;
  justify-content: space-between;
}

.search-btn input{
  font-size: larger;
  border-radius: 10px;
}


.logout-btn , .dash-btn, .profile-selections span, .logout-btn-dash, .commit-btn, .version{
  display: flex;
  align-items: center;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  transition: transform 0.7s ease;
  justify-self: flex-end;
}

.commit-btn{
  background-color: rgb(112, 161, 38);
  transition: background-color 0.3s ease;
  transition: transform 0.7s ease;
}
.commit-btn:hover{
  background-color:green;
  transform: scale(1.06);
  color: black;
}

.version{
  background-color: #1259ab;
  transition: background-color 0.3s ease;
  transition: transform 0.7s ease;
}

.version:hover{
  background-color: #6d0aef;
  color:black;
  transform: scale(1.06);
}

.logout-btn-dash{
  background-color: #ff4b4b;
}

.logout-btn{
  background-color: #ff4b4b;
  position: fixed;
  bottom: 5%;
  z-index: 1;
}

.header-button{
  background-color: #e04444;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  transition: transform 0.7s ease;
}

.header-button:hover{
  background-color: red;
  transform: scale(1.11);
}

.profile-selections span{
  background-color: #0477f3;
  text-align: center;
}

.logout-btn:hover, .logout-btn-dash:hover {
  background-color: #e04444;
  transform: scale(1.13);
}

.logout-btn .fa-sign-out-alt {
  margin-right: 8px;
  font-size: 18px;
}

.room-container{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.member-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main-content.black{
  background-color: black;
  color :white ;
}
.profile-container.white {
  
  color: black;
}
.dash-logo{
  width: 200px;
}

/* Container for the sliding images */
.rightlogin {
  position: relative;
  max-width: 600px; /* Adjust based on your layout */
  height: 100%;
  overflow: hidden;
}

/* Wrapper for the images */
.rightlogin img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Initial slide setup */
.rightlogin img:first-child {
  opacity: 1;
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.rightlogin img:nth-child(1) {
  animation: slideAnimation 16s infinite;
}

.rightlogin img:nth-child(2) {
  animation: slideAnimation 16s infinite 4s;
}

.rightlogin img:nth-child(3) {
  animation: slideAnimation 16s infinite 8s;
}

.rightlogin img:nth-child(4) {
  animation: slideAnimation 16s infinite 12s;
}


@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y:visible;
  }

  .leftlogin, .rightlogin {
    width: 100%;
    margin-bottom: 20px;
    /* box-sizing: border-box; */
  }

  .login-form .input-group {
    width: 100%;
  }

  .login-logo {
    width: 50%;
    height: auto;
  }

  .avatar-options{
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .leftlogin h1 {
    font-size: 24px;
  }

  .login-form .input-group label {
    font-size: 14px;
  }

  .login-form .input-group input {
    font-size: 14px;
  }

  .avatar-options img {
    width: 40px;
    height: 40px;
  }

  .rightlogin{
    display: none;
  } 
  .login-container{
    box-sizing: border-box;
  }
}

.register-container{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal-content h2 {
  margin-top: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


.dash-logo {
  width: 150px;
  margin-left: 11%
}

.user-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}

.owner-badge {
  display: inline-block;
  margin-left: 5px;
  padding: 2px 6px;
  background-color: #ffd700;
  color: #000;
  font-size: 12px;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 0.9em; 
  font-weight: bold; 
}

.room-sidebar p {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.room-sidebar h1{
  margin-left: 18%;
}

/* Loader.css */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background */
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.user-avatar-room{
  position:fixed;
  left: 90%;
}

.user-avatar-logo{
  height: 70px;
  width: 70px;
}

.user-menu {
  position: relative;
  display: inline-block;
}


.profile-options {
  position: absolute;
  right: 0;
  top:80%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  border-radius: 4px;
}

.profile-selections {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-selections span
 {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-selections span:hover{
  background-color: #0a06e4;
  transform: scale(1.13);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  position: relative;
}


.close:hover {
  color: red;
  transform: scale(2.3);
}


/* Style for online indicator */
.online-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0eee1d; /* Green color for online status */
  display: inline-block;
  margin-left: 8px;
}

/* Style for member items */
.member-item {
  display: flex;
  align-items: center;
  transition: transform 0.3s linear;
}

.member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.member-avatar:hover{
  transform: scale(1.19);
}

.chat-container{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.dash-btn{
  position: absolute;
  bottom: 5%;
  background-color: purple;
}

.group-btn{
  border-radius: 15px;
  content: "";
  z-index: 1;
  padding: 10px 15px;
  color: black;
  width: 90%;
  background-color: #9ac333;
  font-weight: bold;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 15px;
  transition: transform 0.3s linear;
}

.txt-box {
  display: flex;
  position: fixed;
  bottom: 5%;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 680px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  left: 30%;
}


.txt-box input[type="text"] {
  flex: 1; /* Allow the input to grow */
  border: none; /* Remove default border */
  border-radius: 20px; /* Rounded corners */
  padding: 10px; /* Padding inside the input */
  margin-right: 10px; /* Space between input and button */
  font-size: 16px; /* Font size */
  outline: none; /* Remove outline on focus */
  background-color: #fff; /* White background */
}

.txt-box input[type="text"]::placeholder {
  color: #aaa; /* Placeholder text color */
}

.txt-box button {
  background-color:  #6200ea; 
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  border-radius: 20px; 
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.txt-box button:hover {
  background-color:  #3700b3; /* Darker blue on hover */

}

.messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 80vh; /* Adjust the height as needed */
  overflow-y: auto; /* Allow scrolling if messages overflow */
  /* width: 100%; */
}

.message {
  display: flex;
  align-items: center;
  margin: 10px 0;
  max-width: 70%; /* Limit the width of the message */
}

.sent {
  margin-left: auto; /* Align the sent messages to the right */
  background-color: #d1e7dd; /* Light green background for sender messages */
  padding: 8px 12px;
  border-radius: 12px 12px 0 12px; /* Rounded corners */
  align-self: flex-end;
}

.received {
  margin-right: auto; /* Align the received messages to the left */
  background-color: #f8d7da; /* Light red background for received messages */
  padding: 8px 12px;
  border-radius: 12px 12px 12px 0; /* Rounded corners */
  align-self: flex-start;
}

.avatar {
  margin-right: 8px;
}

.timestamp {
  font-size: 0.8em;
  color: #666;
  margin-top: 4px; /* Space above the timestamp */
}


.member-item.active{
  background-image: linear-gradient(#2c6687, #68d1dc); 
  border-left: 6px solid #e7edf0; /* Active indicator */
  transform: scale(1.2);
  color: white ;
  font-weight: bold;
}

.group-btn.active{
  background-image: linear-gradient(#2c6687, #68d1dc); 
  width: 100%;
  border-left: 6px solid #e7edf0;
  border-radius: 0px;
  transform: scale(1.2);
  color: white ;
  font-weight: bold;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message.sent {
  justify-content: flex-end;
}

.message.received {
  justify-content: flex-start;
}

.txt-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.member-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  transform: translateX(0); /* Slide-in animation */
  transition: transform 0.3s ease-in-out;
}

.close-sidebar {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.avatar-large {
  display: block;
  margin: 0 auto;
}

.user-details {
  text-align: center;
}

.messages.short{
  width: 65%;
}

.txt-box.short{
  display: flex;
  position: absolute;
  bottom: 5%;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  width: 50%;
  /* max-width: 680px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  left: 10%;
}

.styled-hr {
  border: 0; /* Remove default border */
  height: 2px; /* Set line thickness */
  background-color: #ccc; /* Set line color */
  margin: 10px 0; 
  width: 100%; /* Adjust the width */
  margin-left: auto; /* Center align */
  margin-right: auto; /* Center align */
}

.file-editor-container {
  max-width: 1200px; /* Maximum width of the FileEditor container */
  margin: 0 auto; /* Center the container */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  background-color: #f4f4f4; /* Light background color */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


.code-editor-container {
  /* margin-top: 20px; Spacing above the editor */
  /* border: 1px solid #ddd; Border around editor */
  border-radius: 8px; 
  /* padding: 15px; */
  background-color: #fff; /* White background */
  height: 100vh;
  width: 95%;
}

.CodeMirror {
  width: 100%; 
  font-size: 16px;
}

.cm-s-seti.CodeMirror{
  height: 91vh;
  position: relative;
  top: 9vh;
}
.cm-s-material.CodeMirror{
  height: 91vh;
  position: relative;
  top: 9vh;
}
.cm-s-monokai.CodeMirror{
  height: 91vh;
  position: relative;
  top: 9vh;
}
.cm-s-dracula.CodeMirror{
  height: 91vh;
  position: relative;
  top: 9vh;
}

.code-history{
  margin-top: 20px;
}

.editor-nav{
  position: fixed;
  display: flex;
  border: none;
  justify-content: space-;
  align-items: center;
  gap: 20px;
  background-color: #5e6a80;
  height: 9.1vh;
  width: 100vw;
  z-index: 1;
  color: white;
}

#file-name{
  /* justify-self: flex-start; */
}

.editor-sidebar{
  display: flex;
  width: 5%;
  background-color: #5e6a80;

}

.editor-content{
  display: flex;  
}

.CodeMirror {
  overflow: hidden !important; /* Hide both horizontal and vertical scrollbars */
  height: 95vh; /* Adjust height if needed */
  width: 100%; /* Adjust width if needed */
  z-index: 0;
}

.version-history-dropdown {
  position:absolute; 
  background-color: white; 
  border: 1px solid #ccc; 
  padding: 10px; 
  max-height: 200px; 
  overflow-y: auto; 
  margin-top: 21vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  left: 54vw;
  /* width: 100px; */
}

.version-history-dropdown ul {
  list-style: none; /* Remove list style */
  padding: 0;
  margin: 0; 
}

.version-history-dropdown li {
  margin-bottom: 5px; 
}

.version-history-dropdown button {
  background: none; /* Transparent background */
  border: none; /* Remove border */
  padding: 5px; /* Padding for better touch target */
  width: 100%; /* Full width */
  text-align: left; /* Align text to the left */
  cursor: pointer; /* Pointer cursor on hover */
}

.version-history-dropdown button:hover {
  background-color: #f0f0f0; /* Hover effect */
}

.editor-container{
  height: 100vh;
  box-sizing: border-box;
}

/* Modal background overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears on top */
}

/* Modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
  max-width: 90%;
}

/* Close icon (cross) */
.close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.theme-toggle {
  margin-bottom: 10px;
}

.theme-toggle button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.theme-toggle button:hover {
  background-color: #45a049;
}

.theme-toggle p {
  margin-left: 10px;
  display: inline;
}
